<% if (showDeletedAccount) { %>
<div id="Popup-deletedAccount" class="Popup active">
    <% } else { %>
    <div id="Popup-deletedAccount" class="Popup">
        <% } %>
        <div class="Close-Popup" id="Close-Account-Created">&times;</div>
        <div class="form">
            <div class="title">
                <img class="titleimg" src="/images/Logo.png" alt="" />
                Account Deleted
            </div>
            <div id="SuccessfullyCreated-normal" class="SuccessfullyCreated-conteiner form-element">
                <div>This account has been <span id="destaque2">Deleted</span> !</div>
            </div>
        </div>
    </div>
