<link rel="stylesheet" href="/css/footer.css" />
<!-- footer -->
<footer class="khajiit-footer">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">U.C. Desenvolvimento Baseado na Web Projecto 1</div>
    <div class="col-4">© Copyright 2023 : KhajiitTeam</div>
    <div class="col-4">social media</div>
  </div>
</footer>
