<link rel="stylesheet" href="/css/leaveGame.css" />
<link rel="stylesheet" href="/css/Overlay.css" />

<div>
    <button id="test">test</button>
</div>
<div class="Popup-conteiner">
    <div id="Popup-Leave" class="Popup">
        <div class="Close-Popup">&times;</div>
        <div class="form">
            <div class="title">
                <img class="titleimg" src="/images/Logo.png" alt="">
                Alert!
            </div>
            <div class="form-element">
                <br><br><label for="alert">Do you want to <span class="warning">exit</span>, all points will be <span class="warning">lost</span>!</label><br>
                <button id="cont-Leave-Popup" class="alert-button">Yes</button>
                <button id="close-Leave-Popup" class="normal-button">Back to Game</button>
            </div>
        </div>
    </div>
    <div id="Popup-Leave-cont" class="Popup">
        <div class="Close-Popup">&times;</div>
        <div class="form">
            <div class="title">
                <img class="titleimg" src="/images/Logo.png" alt="">
                Alert!
            </div>
            <div class="form-element">
                <br><br><label for="alert">If you leave the game <span class="warning">X more times</span> you will be <span class="warning">Banned from the</span>game!  </label><br>
                <button class="alert-button">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/leaveGame.js"></script>
<script src="/js/Overlay.js"></script>