<% if (showAcountCreated) { %>
<div class="Popup-conteiner active">
<% } else { %>
<div class="Popup-conteiner">
<% } %>
    <div id="Popup-Login" class="Popup">
      <div class="Close-Popup">&times;</div>
      <div class="form">
        <div class="title">
          <img class="titleimg" src="/images/Logo.png" alt="">
          Log in
        </div>
        <div class="form-element">
          <label for="Popup-Login-username">Username</label>
          <input name="username" type="text" id="Popup-Login-username" placeholder="Enter Username" />
        </div>
        <div id="Popup-Login-error-username" class="form-element textErrorConteiner textError"></div>
        <div class="form-element">
          <label for="Popup-Login-password">Password</label>
          <input name="password" type="password" id="Popup-Login-password" placeholder="Enter Password" />
        </div>
        <input type="hidden" value="login" name="formType">
        <div id="Popup-Login-error-password" class="form-element textErrorConteiner textError"></div>
        <div class="form-element">
          <button class="Button-Popup ButtonDarkBlue" id="Popup-Login-Button">Log In</button>
        </div>
        <div class="form-element form-bottom-text">
          Dont have account ?<button id="Popup-Login-Signup-Button" class="BlueTransparent-Button">Sign Up Now</button>
        </div>
      </div>
    </div>

    <div id="Popup-creatAcount" class="Popup">
      <div class="Close-Popup">&times;</div>
      <div class="form">
        <div class="title">
          <img class="titleimg" src="/images/Logo.png" alt="">
          Create Account
        </div>
        <div class="form-element">
          <label for="username">Username</label>
          <input name="signup_username" type="text" id="Popup-creatAcount-username" placeholder="Enter Username" />
        </div>
        <div id="Popup-creatAcount-error-username" class="form-element textErrorConteiner textError"></div>
        <div class="form-element">
          <label for="email">Email</label>
          <input name="signup_email" type="text" id="Popup-creatAcount-email" placeholder="Enter Email" />
        </div>
        <div id="Popup-creatAcount-error-email" class="form-element textErrorConteiner textError"></div>
        <div class="form-element">
          <label for="password">Password</label>
          <input name="signup_password" type="password" id="Popup-creatAcount-password" placeholder="Enter Password" />
        </div>
        <div class="form-element">
          <label for="password">Confirm Password</label>
          <input name="signup_repeat_password" type="password" id="Popup-creatAcount-password-confirm" placeholder="Confirm Password" />
        </div>
        <input type="hidden" value="register" name="formType">
        <div id="Popup-creatAcount-error-password" class="form-element textErrorConteiner textError"></div>
        <div class="form-element Popup-creatAcount-steptext">
          <div>
            Step 1 of 2
          </div>
        </div>
        <div class="form-element">
          <div class="form-element form-bottom-text">
            <div id="Popup-creatAcount-LogInNow">Dont have account ?
            <button id="Popup-creatAcoun-Signin-Button" class="BlueTransparent-Button">Log In Now</button></div>
            <button id="Popup-creatAcount-next" class="Button-Popup ButtonDarkBlue">Next Step</button>
          </div>
        </div>
      </div>
    </div>

    <div id="Popup-confirmEmail" class="Popup">
      <div class="Close-Popup" >&times;</div>
      <div class="form">
        <div class="title">
          <img class="titleimg" src="/images/Logo.png" alt="">
          Confirm Email
        </div>
        <div class="form-element">
          <div id="Popup-confirmEmail-inputTitel" for="confirm">A <span id="destaque1">code</span> that has been send to:</div>
          <div id="Popup-confirmEmail-emailshow">" email "</div>
        </div>
        <div class="form-element Popup-creatAcount-steptext">
          <div>
            Step 2 of 2
          </div>
        </div>
        <div class="form-element">
          <button class="Button-Popup ButtonDarkBlue" id="Popup-confirmEmail-Resend">Resend email</button>
        </div>
      </div>
    </div>

  <% if (showAcountCreated) { %>
    <div id="Popup-AcountCreated" class="Popup active">
  <% } else { %>
    <div id="Popup-AcountCreated" class="Popup">
  <% } %>
      <div class="Close-Popup" id="Close-Account-Created">&times;</div>
      <div class="form">
        <div class="title">
          <img class="titleimg" src="/images/Logo.png" alt="">
          Account Created
        </div>
      <% if (confirmstate) { %>
        <div id="SuccessfullyCreated-normal" class="SuccessfullyCreated-conteiner form-element">
          <div> The email as been confirm and the account <span id="destaque2">Successfully Created</span> !</div>
        </div>
      <% } else { %>
        <div id="SuccessfullyCreated-normal" class="SuccessfullyCreated-conteiner form-element">
          <div> This account is already <span id="destaque2">Active</span> !</div>
        </div>
      <% } %>

      <% if (showAcountCreated) { %>
        <div id="SuccessfullyCreated-resend" style="display: none;" class="SuccessfullyCreated-conteiner form-element ">
      <% } else { %>
        <div id="SuccessfullyCreated-resend" class="SuccessfullyCreated-conteiner form-element ">
      <% } %>
          <div id="Popup-AcountCreated-resend">
            <div>That account <span id="destaque2">already exists</span>.</div>
            <div>If you didn´t receive the confirmation email click <button id="Popup-AcountCreated-btn-recent" class="BlueTransparent-Button">resend email</button>.</div>
          </div>
        </div>
        <div class="form-element">
          <button class="Button-Popup ButtonDarkBlue" id="AcountCreated-continue">Continue</button>
        </div>
      </div>
    </div>

    <div id="Popup-FetchError" class="Popup">
      <div class="Close-Popup" id="Close-Account-Created">&times;</div>
      <div class="form">
        <div class="title">
          <img class="titleimg" src="/images/Logo.png" alt="">
          Error
        </div>
        <div class=" SuccessfullyCreated-conteiner form-element">
          <div> Sorry, an <span class="textError2">error</span> occurred !</div>
        </div>
        <div id="FetchError-error" class="texterrorbox textError2"></div>
        <div class="form-element">
          <button class="Button-Popup ButtonDarkBlue" id="FetchError-continue">Continue</button>
        </div>
      </div>
    </div>
</div>
<script src="/js/Log_in_out_popups.js"></script>
<script src="/js/Overlay.js"></script>
<script src="/js/stringChecks.js"></script>