<link rel="stylesheet" href="/css/navBar.css" />
<nav id="navBar" >
  <div id="nav-logo-about-us-section" class="nav-section">
    <a id="nav_Menu" href="/" class="ButtonBlack">
      <svg id="nav_Home_content" class="ButtonBlack"
        id="Logo"
        width="65"
        height="64"
        viewBox="0 0 65 64"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect width="65" height="64" />
        <rect 
          x="10"
          y="4.01172"
          width="45"
          height="51.9767"
          fill="url(#pattern0)"
        />
        <defs>
          <pattern
            id="pattern0"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use
              xlink:href="#image0_90_30"
              transform="scale(0.00775194 0.00671141)"
            />
          </pattern>
          <image
            id="image0_90_30"
            width="129"
            height="149"
            xlink:href="/images/Logo.png"
          />
        </defs>
      </svg>
    </a>
    <a id="nav_AboutUs" class="ButtonBlack" href="/about-us">About Us</a>
    <button id="navLink_Menu" class="ButtonBlack" >
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 30V25H21.6667V30H0ZM27.6667 27.5L19.3333 15L27.6667 2.5L30 6L24 15L30 24L27.6667 27.5ZM0 17.5V12.5H16.6667V17.5H0ZM0 5V0H21.6667V5H0Z" fill="white"/>
      </svg>
    </button>  
  </div>
  <div id="nav-login-section" class="nav-section">
    <button id="button-login" class="ButtonBlack">
        <div id="button-login-text">
          Log In
        </div>
        <svg id="button-login-img"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M9 2h9c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2H9c-1.1 0-2-.9-2-2v-2h2v2h9V4H9v2H7V4c0-1.1.9-2 2-2z"
          />
          <path
            fill="currentColor"
            d="M10.09 15.59L11.5 17l5-5l-5-5l-1.41 1.41L12.67 11H3v2h9.67z"
          />
        </svg>
    </button>
  </div>
</nav>
<script src="/js/navBar.js"></script>
