<link rel="stylesheet" href="/css/navBar.css" />
<nav>
  <div id="nav-logo-about-us-section" class="nav-section">
    <a href="/" class="ButtonBlack">
      <svg class="ButtonBlack"
        id="Logo"
        width="65"
        height="64"
        viewBox="0 0 65 64"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect width="65" height="64" /> <!--fill="#70f5ff"-- /> -->
        <rect 
          x="10"
          y="4.01172"
          width="45"
          height="51.9767"
          fill="url(#pattern0)"
        />
        <defs>
          <pattern
            id="pattern0"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use
              xlink:href="#image0_90_30"
              transform="scale(0.00775194 0.00671141)"
            />
          </pattern>
          <image
            id="image0_90_30"
            width="129"
            height="149"
            xlink:href="/images/Logo.png"
          />
        </defs>
      </svg>
    </a>
    <button class="ButtonBlack">
      <a href="/about-us">About Us</a>
    </button>
  </div>
  <div id="nav-login-section" class="nav-section">
    <button class="ButtonBlack">
      <a href="/login">Login
        <svg class=""
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M9 2h9c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2H9c-1.1 0-2-.9-2-2v-2h2v2h9V4H9v2H7V4c0-1.1.9-2 2-2z"
          />
          <path
            fill="currentColor"
            d="M10.09 15.59L11.5 17l5-5l-5-5l-1.41 1.41L12.67 11H3v2h9.67z"
          />
        </svg>
      </a>
    </button>
  </div>
</nav>
