<link rel="stylesheet" href="/css/navBarLoged_in.css" />
<nav id="navBarLoged_in" class="navBarLoged_in">
    <div class="left">
        <div class="navBarLoged_in-Logo">
            <a id="navLink_Home" href="/" > 
                <div>
                    <svg id="navLink_Home_content" class="ButtonBlack"
                    id="Logo"
                    width="65"
                    height="64"
                    viewBox="0 0 65 64"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    >

                    <rect width="65" height="64" />
                    <rect 
                        x="10"
                        y="4.01172"
                        width="45"
                        height="51.9767"
                        fill="url(#pattern0)"
                        />
                        <defs>
                        <pattern
                            id="pattern0"
                            patternContentUnits="objectBoundingBox"
                            width="1"
                            height="1"
                        >
                            <use
                            xlink:href="#image0_90_30"
                            transform="scale(0.00775194 0.00671141)"
                            />
                        </pattern>
                        <image
                            id="image0_90_30"
                            width="129"
                            height="149"
                            xlink:href="/images/Logo.png"
                        />
                        </defs>
                    </svg>
                </div>    
            </a>
        </div>
        <button id="navLink_Menu" class="last_left ButtonBlack" >
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 30V25H21.6667V30H0ZM27.6667 27.5L19.3333 15L27.6667 2.5L30 6L24 15L30 24L27.6667 27.5ZM0 17.5V12.5H16.6667V17.5H0ZM0 5V0H21.6667V5H0Z" fill="white"/>
            </svg>
        </button>    
        <a id="navLink_AboutUs" class="navButtonSimple ButtonBlack" href="/about-us" >About Us</a> 
        <a id="navLink_Play" class="last_left navButtonSimple ButtonBlack" href="/play/Options" >Play</a> 
    </div>
    <div class="right">
        <a id="navLink_Profile" class="last_right navButtonCompound ButtonBlack" href="/profile" >
            <div>
                Profile
            </div>
            <svg width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 28.4999C22.4557 28.4999 28.5 22.4557 28.5 15C28.5 7.54424 22.4557 1.5 15 1.5C7.54425 1.5 1.5 7.54424 1.5 15C1.5 22.4557 7.54425 28.4999 15 28.4999ZM15 29.9999C23.2845 29.9999 30 23.2845 30 15C30 6.71549 23.2845 0 15 0C6.7155 0 0 6.71549 0 15C0 23.2845 6.7155 29.9999 15 29.9999Z" fill="currentColor"/>
                <path fill="currentColor" d="M6 23.7223C6 22.9476 6.579 22.2928 7.35 22.2073C13.1362 21.5668 16.89 21.6246 22.6635 22.2216C22.9518 22.2519 23.2251 22.3654 23.4499 22.5485C23.6747 22.7315 23.8414 22.976 23.9295 23.2522C24.0176 23.5283 24.0234 23.8242 23.9462 24.1036C23.8689 24.383 23.712 24.6339 23.4945 24.8256C16.6807 30.7648 12.7867 30.6831 6.48 24.8316C6.1725 24.5466 6 24.1408 6 23.7223Z" fill="currentColor"/>
                <path fill="currentColor" d="M22.5863 22.9674C16.8585 22.3749 13.1588 22.3194 7.43175 22.9532C7.24324 22.9752 7.06945 23.0659 6.94365 23.208C6.81786 23.3501 6.74891 23.5337 6.75 23.7234C6.75 23.9379 6.83925 24.1412 6.99 24.2822C10.116 27.1817 12.4845 28.4919 14.7998 28.5002C17.1233 28.5084 19.6193 27.2087 23.0018 24.2612C23.1092 24.1655 23.1866 24.0407 23.2244 23.902C23.2623 23.7632 23.259 23.6164 23.215 23.4794C23.171 23.3425 23.0881 23.2212 22.9765 23.1305C22.8649 23.0397 22.7293 22.9826 22.5863 22.9674ZM7.2675 21.4622C13.1145 20.815 16.923 20.8735 22.7415 21.4757C23.1752 21.521 23.5863 21.6917 23.9245 21.967C24.2627 22.2424 24.5133 22.6103 24.6455 23.0259C24.7778 23.4414 24.7861 23.8865 24.6693 24.3066C24.5525 24.7268 24.3157 25.1038 23.988 25.3914C20.5568 28.3824 17.6993 30.0114 14.7953 30.0002C11.883 29.9897 9.1515 28.3329 5.97075 25.3817C5.74302 25.1696 5.56147 24.9128 5.43746 24.6273C5.31345 24.3419 5.24963 24.0339 5.25 23.7227C5.24891 23.1635 5.45416 22.6236 5.82643 22.2063C6.1987 21.7891 6.71182 21.5246 7.2675 21.4622Z" fill="currentColor"/>
                <path fill="currentColor" d="M21 12C21 13.5913 20.3679 15.1174 19.2426 16.2426C18.1174 17.3678 16.5913 18 15 18C13.4087 18 11.8826 17.3678 10.7574 16.2426C9.63214 15.1174 9 13.5913 9 12C9 10.4087 9.63214 8.88257 10.7574 7.75736C11.8826 6.63214 13.4087 6 15 6C16.5913 6 18.1174 6.63214 19.2426 7.75736C20.3679 8.88257 21 10.4087 21 12Z" fill="currentColor"/>
                <path fill="currentColor" d="M15 16.5C16.1935 16.5 17.3381 16.0259 18.182 15.182C19.0259 14.3381 19.5 13.1935 19.5 12C19.5 10.8065 19.0259 9.66193 18.182 8.81801C17.3381 7.9741 16.1935 7.5 15 7.5C13.8065 7.5 12.6619 7.9741 11.818 8.81801C10.9741 9.66193 10.5 10.8065 10.5 12C10.5 13.1935 10.9741 14.3381 11.818 15.182C12.6619 16.0259 13.8065 16.5 15 16.5ZM15 18C16.5913 18 18.1174 17.3678 19.2426 16.2426C20.3679 15.1174 21 13.5913 21 12C21 10.4087 20.3679 8.88257 19.2426 7.75736C18.1174 6.63214 16.5913 6 15 6C13.4087 6 11.8826 6.63214 10.7574 7.75736C9.63214 8.88257 9 10.4087 9 12C9 13.5913 9.63214 15.1174 10.7574 16.2426C11.8826 17.3678 13.4087 18 15 18Z" fill="white"/>
            </svg>
        </a> 
        <a id="navLink_LogOut" class="navButtonCompound ButtonBlack" >
            <div> Log Out </div>
            <svg  width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.25 2.5H22.5C23.875 2.5 25 3.625 25 5V25C25 26.375 23.875 27.5 22.5 27.5H11.25C9.875 27.5 8.75 26.375 8.75 25V22.5H11.25V25H22.5V5H11.25V7.5H8.75V5C8.75 3.625 9.875 2.5 11.25 2.5Z" fill="white"/>
                <path fill="currentColor" d="M11.7625 19.4875L10 21.25L3.75 15L10 8.75L11.7625 10.5125L8.5375 13.75H20.625V16.25H8.5375L11.7625 19.4875Z" fill="white"/>
            </svg>
        </a>   
    </div>
</nav>
<script src="/js/navBarLoged_in.js"></script>
