<% if (showChangeProfile) { %>
<div id="Popup-profileChange" class="Popup active">
    <% } else { %>
    <div id="Popup-profileChange" class="Popup">
        <% } %>
        <div class="Close-Popup" id="Close-Account-Created">&times;</div>
        <div class="form">
            <div class="title">
                <img class="titleimg" src="/images/Logo.png" alt="" />
                Profile Change
            </div>
            <div id="SuccessfullyCreated-normal" class="SuccessfullyCreated-conteiner form-element">
                <div>You have changed <span id="destaque2">Something</span> now you need to re-login so the changes take effect !</div>
            </div>
        </div>
    </div>

