<div id="Popup-confirmEmail" class="Popup">
    <div class="Close-Popup" >&times;</div>
    <div class="form">
      <div class="title">
        <img class="titleimg" src="/images/Logo.png" alt="">
        Confirm Email
      </div>
      <div class="form-element">
        <div id="Popup-confirmEmail-inputTitel" for="confirm">A <span id="destaque1">code</span> that has been send to:</div>
        <div id="Popup-confirmEmail-emailshow">" email "</div>
      </div>
      <div class="form-element">
        <button class="Button-Popup ButtonDarkBlue" id="Popup-confirmEmail-Resend">OK</button>
      </div>
    </div>
  </div>
