<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Khajiit</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- content -->
    <%- include("../views/partials/navBar.ejs") %>
    <main>
      <div class="head-content">
        <h2>
          Start now by <a class="head-content-link" href="/login">Login</a> or
          <a class="head-content-link" href="/sign-up">Creating an Account</a>
        </h2>
        <button class="start-bttn">Play Now</button>
      </div>

      <div class="main-background">
        <div class="container about-game">
          <h4>Khajiit</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac
            posuere elit. Etiam rhoncus rhoncus quam, a dignissim magna
            scelerisque a. Proin lacinia a quam non semper. Maecenas mattis
            feugiat quam, sit amet scelerisque eros. Duis massa est, suscipit
            sed urna vitae, vehicula auctor mauris. Duis id erat a ligula
            eleifend hendrerit. Praesent porta sapien lacus, non efficitur mi
            malesuada vel. Donec nec lacus eget diam malesuada condimentum a a
            libero. Nam feugiat eu turpis et efficitur. Aliquam vitae magna sed
            ligula consequat rutrum. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Suspendisse odio erat, cursus eget neque eget,
            elementum bibendum odio. Praesent venenatis enim id pellentesque
            volutpat. Aliquam euismod aliquet ligula ut fermentum. Integer a
            lorem pretium, mollis elit vel, posuere nulla. Maecenas hendrerit
            viverra vehicula. Donec massa diam, aliquet eu porta sit amet,
            porttitor ut turpis. Aenean efficitur lectus erat, et commodo erat
            sodales non. Sed porta nisl ut ornare ornare. Aenean tempor
            fringilla elit, in iaculis lectus fringilla vitae. Pellentesque
            hendrerit tincidunt tortor, sed dictum risus tempus at. Praesent
            consequat augue vitae ipsum interdum, non auctor risus malesuada.
            Morbi non metus ex. Ut ex justo, cursus nec ex ac, auctor aliquam
            diam. Maecenas mattis, metus non ornare auctor, eros neque varius
            sapien, ut fermentum eros magna quis est. Cras velit enim, mollis
            vel ullamcorper quis, aliquam quis purus. Donec sed leo blandit,
            dapibus nulla a, gravida ipsum. Aenean convallis sit amet nulla non
            mollis. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas. Fusce laoreet elementum luctus.
            Proin tempor augue quam, a accumsan eros condimentum eu. Praesent
            sodales eros ac velit gravida rhoncus. Pellentesque tempor, ante sed
            dignissim congue, lectus elit rhoncus lorem, sed consectetur risus
            sem quis sapien. Aenean eleifend mi eget justo mollis, a lacinia
            elit maximus. Duis id ex volutpat lacus ullamcorper laoreet. Nulla
            augue tellus, luctus consectetur quam nec, ultricies tristique odio.
            Aenean dignissim, metus in mollis lobortis, enim sem eleifend enim,
            id cursus arcu mauris id nisi. Donec eu leo elit. Donec orci velit,
            convallis eu imperdiet a, faucibus sit amet nibh. Nullam eleifend
            metus enim. Pellentesque id ornare nunc, at congue ante. In ut arcu
            ante. Sed bibendum mollis nibh, a cursus nibh dictum non. Sed sit
            amet aliquam diam. Nulla fermentum sodales enim eu lacinia. Nam
            blandit odio a ipsum vehicula, ac feugiat lectus interdum. Morbi ac
            viverra tortor. Integer et ligula semper ipsum scelerisque egestas
            ut a ante. Suspendisse porta sollicitudin felis, eget fringilla
            mauris pellentesque sed. Nullam eu porta lectus. Donec consequat
            turpis eu massa rutrum mattis. In sed sagittis ex. Phasellus et
            tellus nibh. Integer consectetur neque vel velit dapibus, quis
            pulvinar neque sagittis. Mauris sodales ornare massa. Mauris nulla
            tellus, scelerisque eget porta sit amet, euismod eu arcu. Integer ac
            lacus sit amet risus fermentum gravida. Proin mattis cursus justo
            quis venenatis. Suspendisse leo ipsum, tincidunt ut pharetra a,
            condimentum non dui. Vestibulum bibendum et nunc eget consequat.
            Cras gravida bibendum suscipit. Suspendisse sollicitudin tellus
            velit, quis tincidunt sapien congue in. Donec tempor sit amet enim
            ornare auctor. Donec augue nisl, auctor at tempor a, faucibus at
            arcu. Suspendisse convallis magna sed erat porttitor, tincidunt
            finibus purus vehicula. Sed pulvinar lorem a euismod bibendum.
            Mauris quis sapien a nulla pellentesque viverra. Nunc libero ex,
            posuere vitae mattis sit amet, suscipit vel sapien. Sed nec mi
            tincidunt, elementum nibh ullamcorper, venenatis tortor. Cras in dui
            dignissim, efficitur odio ac, dictum massa. Donec aliquam metus vel
            mi egestas blandit. Aliquam et aliquam odio. Curabitur at varius
            erat, id faucibus dolor. Proin tempor erat a metus dapibus blandit.
            Donec ut turpis dui. Aenean iaculis neque sed enim semper, non
            condimentum nulla dignissim.
          </p>
        </div>
      </div>
    </main>
    <%- include("../views/partials/footer.ejs") %>
    <!-- Importing the scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
