<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Khajiit</title>
        <link rel="icon" type="image/x-icon" href="/images/Khajiit.ico">
        <link rel="stylesheet" href="/css/profile.css" />
        <link rel="stylesheet" href="/css/buttons.css" />
        <link rel="stylesheet" href="/css/scrollBar.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"> 
    </head>
    <body>
        <% log = true  %>
        <% if(log) {%>
        <%- include("../views/partials/navBarLoged_in.ejs") %>
        <div id="conteiner-main" >
            <div id="myProfile" >
                <div id="myProfileTitle" class="text-title2" >My Profile</div>
                <div id="Profile-picture-conteiner">
                    <div id="Profile-picture">
                        <button id="Edit-picture">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="24.5" fill="currentColor" stroke="white"/>
                                <path d="M14.7358 34.2603H16.6509L28.4491 22.4452L26.5341 20.5274L14.7358 32.3425V34.2603ZM34.2969 20.4589L28.4833 14.7055L30.3984 12.7877C30.9228 12.2626 31.5671 12 32.3313 12C33.0955 12 33.7393 12.2626 34.2628 12.7877L36.1778 14.7055C36.7022 15.2306 36.9758 15.8644 36.9986 16.6068C37.0214 17.3493 36.7706 17.9826 36.2462 18.5068L34.2969 20.4589ZM32.3135 22.4795L17.8136 37H12V31.1781L26.4999 16.6575L32.3135 22.4795ZM27.4916 21.4863L26.5341 20.5274L28.4491 22.4452L27.4916 21.4863Z" fill="white"/>
                            </svg>   
                        </button>
                    </div>
                </div>

                <div class="profile-item-conteiner">
                    <hr class="hr2">
                    <div class="profile-item-text-conteiner">Name</div>
                    <div class="settings-options inputText ButtonDarkBlue inputtamanho">
                        <input id="JoinCode-Copy-input" type="text" class="inputText-Input "/>
                        <button id="JoinCode-Copy" class="inputText-Button">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2538 20V17.1667L16.1021 10.1L18.4469 12.9333L12.5986 20H10.2538ZM0.322754 13.3333V10.6667H8.04689V13.3333H0.322754ZM19.2193 12L16.8745 9.16667L17.6745 8.2C17.8768 7.95555 18.1342 7.83333 18.4469 7.83333C18.7595 7.83333 19.017 7.95555 19.2193 8.2L20.0193 9.16667C20.2216 9.41111 20.3228 9.72222 20.3228 10.1C20.3228 10.4778 20.2216 10.7889 20.0193 11.0333L19.2193 12ZM0.322754 8V5.33333H12.4607V8H0.322754ZM0.322754 2.66667V0H12.4607V2.66667H0.322754Z" fill="currentColor"/>
                            </svg>
                        </button>
                    </div>
                    <div id="erroName" class="profile-item-text-conteiner">sdsdgsfdgsgd</div>
                </div>

                <div class="profile-item-conteiner">
                    <hr class="hr2">
                    <div class="profile-item-text-conteiner">Email</div>
                    <div class="settings-options inputText ButtonDarkBlue inputtamanho">
                        <input id="JoinCode-Copy-input" type="text" class="inputText-Input "/>
                        <button id="JoinCode-Copy" class="inputText-Button">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2538 20V17.1667L16.1021 10.1L18.4469 12.9333L12.5986 20H10.2538ZM0.322754 13.3333V10.6667H8.04689V13.3333H0.322754ZM19.2193 12L16.8745 9.16667L17.6745 8.2C17.8768 7.95555 18.1342 7.83333 18.4469 7.83333C18.7595 7.83333 19.017 7.95555 19.2193 8.2L20.0193 9.16667C20.2216 9.41111 20.3228 9.72222 20.3228 10.1C20.3228 10.4778 20.2216 10.7889 20.0193 11.0333L19.2193 12ZM0.322754 8V5.33333H12.4607V8H0.322754ZM0.322754 2.66667V0H12.4607V2.66667H0.322754Z" fill="currentColor"/>
                            </svg>  
                        </button>
                    </div>
                    <div id="erroEmail" class="profile-item-text-conteiner">sdsdgsfdgsgd</div>
                </div>

                <div class="profile-buttons">
                    <button class="ButtonRed profileButton">Delete Acount</button>
                    <button class="ButtonDarkBlue profileButton">Log Out</button>
                </div>

            </div>
            <div id="myStatistics" >
                <div id="statisticsTitle" class="text-title">Statistics</div>
                <div class="row stat-mainconteiner">

                    <div class="col-lg-4 col-md-6 col-sm-12 stat-conteinerbackground">
                        <div class="text-stat-title">Win rate</div>
                        <div class="stat-item-mainstat">
                            <div class="stat-item-mainstat-textconteiner">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32 4.34105V0H8V4.34105H0V10.5263C0 15.8421 3.778 20.2063 8.648 20.9095C9.34556 23.0627 10.5828 24.9776 12.229 26.4518C13.8751 27.9259 15.869 28.9045 18 29.2842V31.5789C18 32.6956 17.5786 33.7666 16.8284 34.5562C16.0783 35.3459 15.0609 35.7895 14 35.7895H12V40H28V35.7895H26C24.9391 35.7895 23.9217 35.3459 23.1716 34.5562C22.4214 33.7666 22 32.6956 22 31.5789V29.2842C24.131 28.9045 26.1249 27.9259 27.771 26.4518C29.4172 24.9776 30.6544 23.0627 31.352 20.9095C36.222 20.2063 40 15.8421 40 10.5263V4.34105H32ZM4 10.5263V8.55158H8V16.48C6.83098 16.0436 5.81892 15.2371 5.10273 14.1711C4.38655 13.1051 4.00134 11.8319 4 10.5263ZM36 10.5263C35.9985 11.8322 35.6132 13.1055 34.8971 14.1718C34.181 15.2381 33.169 16.0451 32 16.4821V8.55158H36V10.5263Z" fill="#FFE600"/>
                                </svg>                                    
                                <div id="WinRate-percentage" class="stat-item-main-text"> 00.0% </div>
                            </div>
                        </div>
                     
                        <div class="stat-subitem-conteiner">
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Payed</div>
                                    <div id="WinRate-played" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Won</div>
                                    <div id="WinRate-won" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Lost</div>
                                    <div id="WinRate-lost" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Drew</div>
                                    <div id="WinRate-drew" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 stat-conteinerbackground">
                        <div class="text-stat-title">Questions</div>
                        <div class="stat-item-mainstat">
                            <div class="stat-item-mainstat-textconteiner">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2705 27.1357H17.0449C17.0612 25.6709 17.1751 24.4095 17.3867 23.3516C17.6146 22.2773 17.9971 21.3089 18.5342 20.4463C19.0876 19.5837 19.82 18.7292 20.7314 17.8828C21.4964 17.1992 22.1637 16.5482 22.7334 15.9297C23.3031 15.3112 23.7507 14.6764 24.0762 14.0254C24.4017 13.3581 24.5645 12.6175 24.5645 11.8037C24.5645 10.8597 24.418 10.0785 24.125 9.45996C23.8483 8.8252 23.4251 8.34505 22.8555 8.01953C22.3021 7.69401 21.6022 7.53125 20.7559 7.53125C20.056 7.53125 19.4049 7.68587 18.8027 7.99512C18.2005 8.28809 17.7041 8.74382 17.3135 9.3623C16.9391 9.98079 16.7438 10.7946 16.7275 11.8037H9.64746C9.69629 9.57389 10.209 7.7347 11.1855 6.28613C12.1784 4.82129 13.5049 3.73893 15.165 3.03906C16.8252 2.32292 18.6888 1.96484 20.7559 1.96484C23.0345 1.96484 24.9876 2.33919 26.6152 3.08789C28.2428 3.82031 29.488 4.90267 30.3506 6.33496C31.2132 7.75098 31.6445 9.47624 31.6445 11.5107C31.6445 12.9268 31.3678 14.1882 30.8145 15.2949C30.2611 16.3854 29.5368 17.4027 28.6416 18.3467C27.7464 19.2907 26.7617 20.2673 25.6875 21.2764C24.7598 22.1064 24.125 22.9772 23.7832 23.8887C23.4577 24.8001 23.2868 25.8825 23.2705 27.1357ZM16.3125 34.6797C16.3125 33.638 16.6706 32.7754 17.3867 32.0918C18.1029 31.3919 19.0632 31.042 20.2676 31.042C21.4557 31.042 22.4079 31.3919 23.124 32.0918C23.8564 32.7754 24.2227 33.638 24.2227 34.6797C24.2227 35.6888 23.8564 36.5433 23.124 37.2432C22.4079 37.943 21.4557 38.293 20.2676 38.293C19.0632 38.293 18.1029 37.943 17.3867 37.2432C16.6706 36.5433 16.3125 35.6888 16.3125 34.6797Z" fill="#FFE500"/>
                                </svg>                                
                                <div id="Questions-total" class="stat-item-main-text"> 150 </div>
                            </div>
                        </div>

                        <div class="stat-subitem-conteiner">
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Answered</div>
                                    <div id="Questions-Answered" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Unanswered</div>
                                    <div id="Questions-Unanswered" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Rights</div>
                                    <div id="Questions-Rights" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Wrongs</div>
                                    <div id="Questions-Wrongs" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 stat-conteinerbackground">
                        <div class="text-stat-title">Best Place</div>
                        <div class="stat-item-mainstat">
                            <div class="stat-item-mainstat-textconteiner">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.4545 25C20.6 25 10.9091 28.325 10.9091 35V40H40V35C40 28.325 30.3091 25 25.4545 25ZM25.4545 20C27.3834 20 29.2332 18.9464 30.5971 17.0711C31.961 15.1957 32.7273 12.6522 32.7273 10C32.7273 7.34784 31.961 4.8043 30.5971 2.92893C29.2332 1.05357 27.3834 0 25.4545 0C23.5257 0 21.6759 1.05357 20.312 2.92893C18.9481 4.8043 18.1818 7.34784 18.1818 10C18.1818 12.6522 18.9481 15.1957 20.312 17.0711C21.6759 18.9464 23.5257 20 25.4545 20ZM7.27273 23.2L11.7273 26.925L10.5455 19.9L14.5455 15.2L9.29091 14.575L7.27273 7.975L5.21818 14.575L0 15.2L3.96364 19.9L2.72727 26.925L7.27273 23.2Z" fill="#FFE500"/>
                                </svg>                                 
                                <div id="BestPlace-place" class="stat-item-main-text"> 1ยบ </div>
                            </div>
                        </div>
            
                        <div class="stat-subitem-conteiner">
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Worst Place</div>
                                    <div id="BestPlace-worst" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Comun Place</div>
                                    <div id="BestPlace-Comun" class="stat-subitem-text-value">5ยบ</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Podiums</div>
                                    <div id="BestPlace-Podiums" class="stat-subitem-text-value">10</div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 stat-conteinerbackground">
                        <div class="text-stat-title">Best Stict</div>
                        <div class="stat-item-mainstat">
                            <div class="stat-item-mainstat-textconteiner">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.8333 14.3542L22.7917 20.8333H28.6667L23.9375 24.2083L25.875 30.4792L20.8333 26.6458L15.7917 30.4792L17.7292 24.2083L13 20.8333H18.875L20.8333 14.3542ZM20.8333 0L15.7917 16.6667H0L12.8542 25.8542L7.97917 41.6667L20.8333 31.8958L33.7083 41.6667L28.8125 25.8542L41.6667 16.6667H25.875L20.8333 0Z" fill="#FFE500"/>
                                </svg>                                   
                                <div id="BestStict" class="stat-item-main-text"> 13 </div>
                            </div>
                        </div>
                
                        <div class="stat-subitem-conteiner">
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Total Points</div>
                                    <div id="BestStict-Total" class="stat-subitem-text-value">101234</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Strict Points</div>
                                    <div id="BestStict-Strict" class="stat-subitem-text-value">10425</div>
                                </div>
                                <hr>
                            </div>
                            <div class="stat-subitem">
                                <div class="stat-subitem-textconteiner">
                                    <div class="stat-subitem-text-title">Bonus Points</div>
                                    <div id="BestStict-Bonus" class="stat-subitem-text-value">233</div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
        <% } else {%>
        <%- include("../views/partials/navBar.ejs") %>
        <div id="conteiner-main">
            <div id="notloged">
                <div id="notLogedtext" >You need to be loged in to access this page !</div>
            </div>
        </div>
        <% }%>
        <%- include("../views/partials/footer.ejs") %>
        <script src="/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>