:root{
  --head-content-link-color:#3ad2ae;
  --play-bttn-bckg-color: #1ca1aa;

}

* {
  /* Changes the way it sees the padding and border for the element size*/
  box-sizing: border-box;
}

.bckg {
  /* Image Background */
  background-image: url("../images/Background-Img.png");
  /* Background Image size fills the whole Screen */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow: overlay;
}

.head-content> h2 > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--head-content-link-color);
}

.head-content > h2 {
  text-align: center;
  color: white;

  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;

  font-size: 40px;
  font-family: "Roboto";
}

.play-bttn {
  font-size: 60px !important;
  font-weight: bold;

  position: relative;
  width: 25rem;
  height: 6.25rem;
  left: 40%;

  margin-top: 1.75rem;
  margin-bottom: 3.25rem;
  padding-bottom: 0.75rem;

  color: white;
  background: var(--play-bttn-bckg-color);
  border: 0px;
  mix-blend-mode: normal;
  border-radius: 0.75rem;
}

.Logo-Name {
  display: flex;
  align-items: baseline;
}

.Info {
  padding-left: 4rem;
  text-align: justify;
  font-size: 30px;
  font-family: "Roboto";
}

.Index-Tease {
  padding-left: 10rem;
  margin-bottom: 5vh;
}

.front {
  padding-top: 64px;
}


.fontSpaColor {
  color: var(--head-content-link-color);
}