:root {
  /* Variables */
  --nav-background-color: #0b4649;
  --nav-button-background-color: black;
}

nav {
  /* Background */
  background-color: var(--nav-background-color);

  /* Display */
  display: flex;
  width: 100%;
  height: 64px;

  /* Shadow effect */
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 40%);
}

nav > .nav-section {
  /* Display */
  display: flex;
  align-content: center;
  justify-content: center;
}

* {
  /* Changes the way it sees the padding and border for the element size*/
  box-sizing: border-box;
}

nav > .nav-section > button > a {
  /* Font Style */
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 0.75rem;
  color: white;
  text-decoration: none;
}

#nav-logo-about-us-section > button {
  /* Display */
  background: var(--nav-button-background-color);
  background-size: cover;
  border-radius: 0 0 0.75rem 0;
  border: 0;
  padding: 0 4.95rem 0 4.95rem;
}

#nav-login-section {
  /* Makes it so the Login section sticks to the right */
  flex-grow: 1;
  justify-content: flex-end;
}

#nav-login-section > button {
  /* Display */
  background: var(--nav-button-background-color);
  background-size: cover;
  border-radius: 0 0 0 0.75rem;
  border: 0;
  padding: 0 1.25rem 0 4.375rem;
}

#nav-login-section > button > a > svg {
  /* Aligns the svg to the middle of the button */
  vertical-align: middle;
}

#nav-login-section > button > a {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.8rem;
}
