#Logo {
  width: 50px;
  height: 50px;
}

.bckg-color {
    /* position: fixed;
    top: 0; */
    background-color: #0b4649;
    padding: 0 !important;
    /* display: block;
    align-content: baseline;
    height: 2.8em; */
}

#About-us {
  background: #249ca4;
  background-size: contain;
  border-color: #249CA4 !important;
  border: 5px solid;
  border-radius: 0 0 0.75rem 0;
  padding: 0 5rem 0 5rem !important;
}

#Login {
  background: #249CA4;
  background-size: cover;
  border-radius: 0px 0px 0px 15px;
  border: 5px solid;
  border-color: #249CA4 !important;
  height: 100%;
  padding: 0 4.95rem 0 4.95rem !important;
}
